/*
//////////
//FRONTINSAMPA RESET
////////////
*/

* {	margin: 0; padding: 0; }
p, h1, h2, h3, h4, h5, h6, label, span { line-height: 100%; font-weight: normal; }
li { list-style: none; }
address { font-style: normal; }
fieldset, img { border: none; }
hr, fieldset legend { display: none; }
html, body { min-height: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*
//////////
//HEADERS
////////////
*/

h2 {
	font-size: 1.6em;
	color: #999;
	text-transform: uppercase;
	font-family: arial, sans-serif;
}

/*
//////////
//TEXTOS
////////////
*/

p, li {
	margin-top: 10px;
	font-size: 1.2em;
	color: #666;
	line-height: 140%;
}
strong {
	font-weight: 600;
	color: #888;
}

/*
//////////
//LINKS
////////////
*/

a {
	color: #3cc;
	text-decoration: none;
}
a:active {
	text-decoration: line-through;
}
a:hover, a:focus {	
	background-color: #6ff;
}
.navegacao_interna a {
	display: none;
}

/*
//////////
//ESTRUTURA GERAL
////////////
*/

body {
	font-size: 62.5%;
	background-color: #fff;
	color: #000;
}
#documento {
	padding: 15px 0;
}
	#topo {
		background: url("bg-header.jpg") center top no-repeat #000;
	}