
/*--------------------------------------------------\
|													                           ||
|													                          |||
|   1º FrontInSampa                                 |||
|										                     Ago/2012	  |||
|													                          |||
 \--------------------------------------------------\||
  \--------------------------------------------------*/

* {margin: 0;padding: 0;}
nav, aside, header, footer, article, section, figure {display: block;}
fieldset, a img {border: none;}
body{
}
body, .ipt, select, textarea{
	color:#333333;
	font-family:"Tahoma", Arial, Helvetica, sans-serif;
	font-size:14px;
}
a{ text-decoration:none;}
a, a:hover{
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-o-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
p{ margin:0 0 11px 0;}
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.show { display:block; }
.hide { display:none; }
.fleft { float:left;display:inline; }
.fright { float:right;display:inline; }
.cb { clear: both; }
.inside{ 
	margin: 0 auto;
	position: relative; 
	width: 910px;
}
ul{ list-style: none;}
h1{text-transform: uppercase;}

/* Header */
.header{
	background:  url(img/bg-header.jpg) no-repeat center 0;
	border-top: 17px solid #fff;
}
.header .inside{height: 441px;}
.menu-header{
	margin: 25px 0 0 11px;
	position: relative;
	width: 300px
}
.menu-header:before{
	background:  url(img/bg-menu-header.png) no-repeat 0 0;
	bottom: -144px;
	content: "";
	height: 144px;
	left: 0;
	position: absolute;
	width: 259px;
}
.menu-header li{margin: 5px 0;}
.menu-header a{
	color: #fff;
	font: bold 28px Arial, Helvetica, sans-serif;
	text-shadow: 0 0 2px rgba(0,0,0,0.7);
	text-transform: uppercase;

}
.menu-header a:hover, .color-red{
	color: #d50000;
}
.logo{
	left: 50%;
	margin-left: -118px;
	position: absolute;
	top: 0;
}
.btn-inscricao{
	background:  url(img/btn-inscricao.png) no-repeat 0 0;
	bottom: 46px;
	height: 197px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	width: 414px;
}
.btn-inscricao:before{
	background:  url(img/tooltip-inscricao.png) no-repeat 0 0;
	content: "";
	height: 121px;
	left: 0;
	position: absolute;
	top: 0;
	width: 189px;
}



/* titles */
.tit-evento{
	background: url(img/tit-eventos.png) no-repeat 0 0;
	float: left;
	font: bold 30px Arial, Helvetica, sans-serif;
	height: 89px;
	padding: 50px 0 0 10px;
	width: 275px;
}





/* boxes */
.box-evento p{ 
	font-weight: bold;
	line-height: 20px;
	padding: 30px 0 0 10px;
}
.box-palestrantes{
	background:  url(img/bg-palestrantes.jpg) repeat-y center 0;
	min-height: 973px;
}
